  /* styles
  --------------------------------------------- */

  body, html {
    overflow: hidden;
  }

  body {
    font: 100% / 1.5 Arial;
  }

  * {
    margin:0;
    padding:0;
  }

  .parallax {
    font-size: 200%;
  }

   /* centre the content in the parallax layers */
  .title {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }



  /* style the groups
  --------------------------------------------- */
    .fp-tooltip{
    color: #AAA;
  }
  #fp-nav span, .fp-slidesNav span{
    border-color: #AAA;
  }
  #fp-nav li .active span, .fp-slidesNav .active span{
    background: #efefef;
  }

#section0{
    background: -webkit-gradient(linear, top left, bottom left, from(#4bbfc3), to(#7baabe));
    background: -webkit-linear-gradient(#4BBFC3, #7BAABE);
    background: linear-gradient(#4BBFC3,#7BAABE);
  }
#section1{
    background: -webkit-gradient(linear, top left, bottom left, from(#7BAABE), to(#dee9ed));
    background: -webkit-linear-gradient(#7BAABE, #dee9ed);
    background: linear-gradient(#7BAABE,#dee9ed);
  }
#section2{
    background: #1BBC9B;
  }
#section3{
    background: #4BBFC3;
  }
#section4{
    background: #7BAABE;
  }

#presentation{
  transform: translateX(500px);
  opacity: 0;
}
.active{
  opacity: 1!important;
  transform: translateX(0px)!important;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


@font-face {
  font-family: 'Fh_Space';
  src: url('../fonts/Fh_Space.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fh_Space';
  src:  url('../fonts/Fh_Space.otf')  format('opentype'),
         url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAACjQAA0AAAAAPfQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAotAAAABoA
AAAcUbfOZ0dERUYAACiUAAAAHQAAACAAkAAET1MvMgAAAaQAAABSAAAAYBNXWNBjbWFwAAADFAAA
AKkAAAFK0LegbGdhc3AAACiMAAAACAAAAAj//wADZ2x5ZgAABIgAACECAAAwhNVVwedoZWFkAAAB
MAAAADEAAAA2CtU02GhoZWEAAAFkAAAAHgAAACQHTQP6aG10eAAAAfgAAAEbAAABjN8uEnZsb2Nh
AAADwAAAAMgAAADIREZQ6m1heHAAAAGEAAAAHgAAACAAqgCBbmFtZQAAJYwAAAJbAAAG5/0PKR9w
b3N0AAAn6AAAAKMAAADrC75cZHjaY2BkYGAAYmmTMyLx/DZfGbiZXwBFGC4vrGiD02L/DrLEsqgB
uRwMTCBRADQMCxUAAAB42mNgZGBgevefjYGBZQIDELDEMjAyoIJkAFIMA1AAAHjaY2BkYGBIZqhj
YGUAASYgZmQAiTmA+QwAGWsBLAAAeNpjYGJ8yTiBgZWBgamLKYKBgcGbaQ9TFwMD410GI4ZfQFEG
VmYGEMUCJBkZkIBbBpBwYFBgqGN695+NgYFFg9EepoZJgNkXSCkwMAIAVDoKigAAeNotkDtLA1EQ
hc+da5NGSJCtFBX8AXo3u9loZSuJhc8/INhqDFqJnaUPCD5iJdqKnX16K7FTBDsR7PYH+O0mC4cz
c+7MmdlxucrPtUER3yu4HyW+qWAt1f25QgFXVeI6cEeL7kaZ/Y60NwVdUWuq2w5aTnysxNbVsL5S
68J7aGfgEOxTf03dBDUv5PjAqY0r8xmzttG34FSR3+StDSLNeLy90TcAz4rtHf0A7RIsg0/yLpyP
Zp3wD9PwH9qUkrELel7Z+1sNfFO3Oty55BWlvobvmprug3wB1Eo92Bz6oybtgbjC7qfkMV6zxH28
i/2q5a0i2xj2uFvwhfdT+RbbErvscp8K84+4xzx369F/R12P9wG13P4fDwI/WAB42mNgYGBmgGAZ
BkYGEHAB8hjBfBYGDSDNBqQZGZgY6hgW/P8P5CuA6P+P/ydD1QMBIxsDnMPIBCSYGFABUJKZhZWN
nYOTi5uHl49fQFBIWERUTFxCUkpaRlZOXkFRSVlFVU1dQ1NLW0dXT9/A0MjYxNTM3MLSytrG1s7e
wdHJ2cXVzd3D08vbx9fPPyAwKDgkNCw8IjIqOiY2Lj4hkYF6gJksXQCZiBx/AAAAAAAAAAAAAAAA
AAAoAG4A2AFSAbgCYgKKAr4C7AMuA14DhgOgA7IDzgQWBEQEhgTeBRAFaAXKBfAGSAasBsoG+gci
B0wHdAfOCIAIrgkcCWoJtAnoChQKbAqcCsYLAgs2C1YLjAu4C+gMTAzIDSINbg2QDdYN/A44DnAO
mg7EDuwPBg8uD1IPag+ED+4QVBCaEPYRRhGIEjoShBKuEvATJhM8E5QTyhP8FFgUvBTyFXwVwhX8
Fh4WVhaKFtAW/BdyF4gX/hhCGEJ42o16CZQkZZVu3j/2NWPLiMysrKzKzMrMyqw919qrq7q7eq2u
6n1l6aab3gBpRBEaBRlQx6VR9Ph8zgAyIwyC8s6MKyqj8nDAcQZHfT6Xg6CDznPmiMBTHH12Be/+
EZlVBeOcM6fqZET8EfEvd/nud+8fERKpRCKRNzA7IlokHonYWT5mOm610qibtQKDV+FFbUm1LFU3
TT08MjssbflJzTQ1MqZZF18M27siERKpk0PwWWZbxI6UIhEo8IIj8ALvYTfNRrNRbxSKr2ubhhlo
FOA+ySCxrvGYwpocv7nkEvV5yQAvPRaTOWzZWhBVQkBjthFNjo9sTqsxleSPNDqVKGCLV9mcVlyV
FA7HSoqsRHFRkWBtjMBsjcxF5nEuuWYweBQyzcYg4DGX5R13AphcsM4JEHiXzmkGMitnweILfWDj
Sa0gMBmb/NtUjtE0xWHy/j05osUdUtikGYY20ZxTTVNtlIimENbj+uGKMtEVYOPcwAK9M9vcjIc7
R/17muSmR5QYIZr6KB5ZPJhx03/BVBXz26pDIP5M62Aqqgk23hz3XwAb18REariwBOprPLIxspNK
eAhMnGywtmK9hmvpBBSu4HjY6pl8LksFHgi7UQ3VOQWBJvL4Rr2AGjALNi+YFbeKb8Qc+EX1sDO7
IaZxrLR1b0LWD0+vJ1ZqdnDW4BePyBYreZddykRZXVb0rZMLxL81JaukVt2061+HmoxMFvIZuDAg
M+CIZdURY9ygWkzoSoGtNLflu0Yynub/lPSwkuRJRajJui6Pq8Mze9fd48a82HBfL+v/X8v/To8K
FpG70+XJCBfo8RJmIRKNdESKKIFZXDfqpVjIZQVUHV1bMVuoNaoVz0XT4grYjK1oXTWBx/XXmuEt
gpKA0O6gAYeGh6tbNldHRqqbt2wZ2rx5aDhbKGRJuv7e+sjIyIdGRg5mj2Xy+a5qJdPzDifG+dep
Hs+bPLyfg99M7to7NjU1vmdpeqq+5/Y95YG3DZQ/iA0Pjk1Pjz341XK577a+crl8O/m0zMsXX/JU
JspEZdQfXcsRXMtS5FjkTVR/AlVRH3pKjHeraQiVIAySIv43Ap9ZXShVbLBgD8210sQDOlSuUKTP
4KKmARrYHnTACzoIhXrNxvWjnlEEzTTx0uDxzBElnjm7N5PTVAtNkLW5OY7sEEyHy8z3F6rxQiKf
6eqfrU2Uy/2ljnSx1ByeYe649oY3pBhVv37Xfsa5vihpy1/tHmIsV+mM1aQOvqM62Neb7SxkdpVy
23JiVr4Mnk3wHEN0WTcAGBDs85eIhsNlL9kwXUikeucGKsnkYH3P3M5sb2+lb3pyZrqz+y3bZDap
Ws7oW26NKjKxINutSfF8f2aQd7nm2PTyiVi8Vq40K9V1G0dP5oScdBn6BFDMiTyLmBNDBPuj6PLU
fwolfwQ4IFJ59QKMMp+IIKBxbiDXlgQbM6SB2shS2VJNGCDxmiKIID51Oj7iSACiKHoMSGx95NrT
kiC64nd/99nPlOdSAt5yBZEFmR3f99Un/F/TccZxnHXM/WjVEa9h1qii0HC7CPXcQIcBCp3+/rXV
KdsWRQDJGYmffgqHExTt9D+D9sRXD6y3bcHFW0JqrvyZz/7uuzikQPseJVG4kplHf4lAsY18ARS4
XRCKZwa8cHVD4FGcgx3n+jhJEi227xBvsyIr7TvkGGxU5A6VEJU5XiSlc4pGvg7HJJPleOnkNM+I
kslPb4waMtl4xmCJJZ5lVSkZacnxIvkCeVskjRcZDCgUaM0MRd1qph1mMgHCko/6/25pqun/QbVM
DThT1SyQdMOAw8BppqX6f7ARIv+ALXp4N9D7q2cjz0aOUL03/+t6P/I6tctKGC9wvtAFH4PDEZXO
N5xmMDu4zX86mFclmBHOJJxB8A7+HsdfFPo4YIzA19a5uu7qUScadcJnaq9+DJ5mCxEF9QyNYoBC
XVA5AaeFuGyz/kfEuGgtsLs6eFaW//CphEhW4hepMNsjXmQgEslU2mAQwkEbCJhGpW0uAdiFpgqV
0cpcX2k+N1AZHRuhZ9nBqpHdmh3L9kyn8q2Tjnzl9JW3PnR+MtPTUzl98taHb5zI5snvk8nSgUuv
v/vsUCqR6D106RvxrL1WeBzjKdprPkftNQo62tAMmGEIbYvr4+/SNP0uVWa15Jm7aOiDvcgPJsmv
TUHid7GemlI2LI8iacBbuhnKqI5r3YZxDVkD7QaNJQOvWa1Ll19trRVtmQL5IjxH+/CPQf1wR3pi
Yt3S1q6UXXYSycmJ4eFB2ylnwP+YJooYQmHv5TdPVJrpzLCTcgtOwsgnkz35/qFjOfBv0iwT59DE
OWQQm8coLhcDaQeD0/BabcMqBdY0rDa0AqzbMrwa/LxvQ59Vum7p9F7bidkbl8Z7e7uymwvdqs7a
al/heH9pdssVW/fILs9zypFL37Z/kcADBb0nNTG946rDtmM7mwv5xmC5UiI8seIaEfoLk/tmtw3h
47LHNY/sPrsvtI8G/pxitkQSkRRqxHFpaG8zFqqeMNhl8mDC+8y4dRt1pNtcR/MfkETRgin/30FK
U8P+uqGpNol6rGAvf0cz9Ul40D8Q6oXKZA5lMo4+Rj12xQSDAGO2VEXDk4nm2KyvURI+0BbOzLFz
S+/KV8uDe0qVxc1EJHAsUNxtqiTahh7rmh7L9KzPZ0rpN8xevlv2MIivWzc7tvWynRu29DgwCBwB
y4ibkqj6H7YFUYeYnY92TtZmF6b66k0BJeOu+sw0+swwZQnNQCdrrKjWqAcxtYkLmQDE9UEQsi0w
d7yY6wVqxwWkIdTtTeuPn106Vsw1B8eO7umwoO/+/hnTQMUAqDoQS+V6D5W+MKwS9figbM+v31HO
lMcXZ/ds3bJl4cip9WPV7sSGuEt4ePZM2qFvEVNVo0TMJq///WwjmhTOdFT37x8bteK7aju3Tq1g
CjmAMndaK6CYgTIOXQx493aRN2T4pCgqum9SFg5f9q/iBQY5hoXaMxFIl5NKPOCLtK8N6Fcd6FnN
VbumQSwEEH6FKwHiRsuoUW3AF/lV6gSvlHLJxMaN85+b37gxGc/1Li4u/Ghh0d82UrmrMjJSu1Ab
gXWzu/dNT05O79s9Owl/ltVUd+LAwfHJyfGDByY8Rc9semrTxo0b/wFKU30DA31Tk/0DA/3+QBOg
OXZhrNlsfKitvxlc+0hkPV090plpaAHfihpD4AvcDVlTSHX4HN+HaGSH1seHfkmx8CbOY/neg6VH
hzQC6tj6K89QfY6WJ4/t1jJk6N7BGd5jGR4AlOjcut3bqwOyuXnDQinT19mZSASKmh6PJnm4aoaq
dG4CVbpRzonws+NdNmGpSi3y6alG5cD+sTErXu6rLIXr2B85Ad/AuIDBxaqEkaF9bEWI4Bf+WxAp
/L9uBwzMoV49Gflp8G7H6rttZqPDajL1WNBDp4KpU3pSEjgxKpLtxTjb7vNRoqrx2uYuzpZ00nvJ
aKfbsq/z5Fby99S+8sgMBlqOAFSwgJ2TW3n0sww8o4g8F1eWXzRNEhME672Kx7/8Eucpqsj7r4iW
LfqvsMFaHyVfgMcwbiZeFzmFtRfko8ufo2hDttIwvuYcHmuF1KfaoRUQ286T28M5tnwALQBCpNVQ
0Q3REgQSM83lF5U4UhMFnvEzqvhekwVFtC0RFFyD4nEvvcx7VKajOLNn0K6UCDpZczWzLdivgfhO
QNgi7eja4n7FWsAoqMynoPZ9xTQV9LrPjx5+w0EvasW3Hd5Q6s8b/XPR3kTXgKIqgsyIaSLqZeuw
22Mlxg2VOqlqkOeHp81ETK9niwtsqc/urWvZXP9AY1ThkQjk89FYZ9Hc4uS7ymXuZCt/5cmPkF+8
FWc/TUIaJ6yExJVJNpqrHtHKF9AfVm8XwywjJLGVduii68xOQdhOcXHNQ20YD9yLJ/MMxwCjqZLN
iFxnyc2XyxnDKA1OD/YwMqfKSc2Lpezz+y+/gzH4L54+su/Sj7zrPZ5m229/81sXtyzue4iV2Wu3
bT8h6Bpr8zzLs5gN3eLFM9kO2SsVWNuKKZrBaIxsw29lU2ckhxBFFsVk1B4pDhSGN45Vu1hBsixZ
VXX9kvddf/QYq5278gMXTlyzV4/b8tIle8+/femoxi7tvPyqXZwkEgGIEY/bklA6UH3B6c6O96Sb
hRSRNa3IdVbUpb4wXiDvYLJoF3YEfSMPVLKtFNHO2C5qHXN+Jus/JFFrv1dNCpwl3QwfeJPaoUh/
7//lXw8wUdO8+EJSZUww/N8kVc6FcXjPCvaOYt95RN4taHWVloZaIWn1DOP1SgjNUyWY1UqQBAS5
PJMzq+4qx0MtLRpbYvfsncwWGCj3buuJm4zZ0TnZ5TD+siZIkgBXb32w0fE1dWMaEzg2Gf3Lx3+e
S3i6oYmuZ6YyALn4UH0bK+2eHM0k8p36UH+zUPYwFqsXf6WK0rESwDtM0ysMTyjjeQ/ugDgX1ZyO
7mI2kfBEnWIISgstYnvACddA8jQ7g2iCYBLyA5xscYWTUoOitgjPfuWO26c3nd53NrtxvF5KixKa
kCtjmkhURhk+fuTyzUem6+duePCWW+Ka4r2X2f6W6x++5sqbRockw7IMjuVdh+OBEI7wsSL01k4f
OXLX8TOzSjyuzbfrPlSnSXqG4BO6brFeCERNViUdCJPvI+YEE3AWL+YsAlGH31w7Ob4NYGrTB/bt
N1/VeUniyanNd2bHLRlD+c+fxyzilsu39NeATcVHls6+j//Tg1cNJiVRu/grfPjHx3sVkQHyw1rP
3I43cbetxPRhjMPdaGWZVtaTy7yeP4XUl9j+QRijmOE/CXcGxz2yguFehieQNo3DIVNTTJhHVott
F3+J9/A05A7YP/wMx0kGSBx067byrPaAlKI/6b8ZLYXS4v6AiP0vuBqPzA5J0C7+MqDsN9Cb86aq
WO35MwPMIkXPfMuMEQup5YZVtNiakBuquotU3QaFrEG2HbThfdtmj26pdeNSpLsVw1BuS6Zn901v
eNOBo1e/9f5LjyUzUcyQMdRwEumYmD869JX33PyGU5rWYaVF9R9RAoZrPGDLcc05dvKWt19/e1lC
hQisLLk8MVNJ+8O3feT9569dkfc/oX12vbaqmVktb4bZKJ4sUQkrJulDnDaQCRvL3zOZ7Sb1BSqI
d/tvpkfGCgT1aVhQzVYudCfaWEcQTZyW5pB3V1saDaRiLgZd5OjvtdcGHfyY/t44jtLFf/LD8LhM
0/RIFX/einOmF+2ipBn6/GuTDBS9GUYvOPmviGjyIVO3E91RQzIQNiXHqRWKhnhU0jRmuybJ2vJf
9RezUQdYIsv4CJspzBVcIAc1WdJasvoorqUTdStRsokYaFLS0TaeJgTjFshH/L1w3LHFuOSvD2e+
Hx4RVE0SoQLvhgXXlkX/UribSvTiiwE1ze/034iYFG+NMxtgbaS64gEtRTg0m/teIKEtlMBKAhIB
k7xCWy6+gLYa1BNeZS7D/LMrsMFGE1rTo6mOREFnVc/wGcE2RZgx44brqP7H/T9jLdmlFVbDIDq5
d/maQKemx3Gx5Tz5jiQxrHfxtzS0kzvb9h5ltlFGE9p7vSURWrFry4U8IyCXpwXa5ffrFj3KCBAx
xqSdL0+R70cFIXbxRXpF/udqTfoh9E+dSjvTyk66Q/cgr0kqi/C7x9980003++96x+133Pb0zz5x
/9nTp04/+NC5c/DGc1987Iabz9/0pS9cfx2Z+sHZs/fde8UVVxy/p8Wfab7WF/DnljTWMINV7pAT
EPmiQbGY78R0OvTeIcjmzFYK5+FMKlRm1x27YmrRYFM9O2Z2ze/qNmUGTQmZL3JfgqjNwoXhnbO7
1B5GwaZDl54az+kmYaKdgfF/sFiqnUNT7htLODrHBq/hi8AwnEz8pzMuowIL4DhdTjzVb1gHQzm9
uov5W/SFuciuSIQrBCyf9OEsW/Ok0dMIF2MEhF8nOT4NQUydAJdWOoOSd7DwAtRem7Azf4Ppt5xi
BA6Q+Qvq/CFzIh699+iNN97w2Fdv+ZM/OfnhXFaPqyCCkRD0VG1AixXMbbGFTazBqalBhxcufuq6
c3/1F2euPHHVfR+//rr1vKC4EpUGNOWMxpnHb4Qz52+68Sb/rrccRcMTbFWMGyDqFhJMqV8pgWIU
lTj8259fdfbM6Y/dd+L0mVOr+ete1F+BViHysIYjtDSHqW/byF0v9EtYUViLIuSyZK//8tHmUEcn
YZM9c7WFfXsLRVGl+wnzC1CWdEn0fPbGQ4eHk5bBQyy9bnT3vkE4pGU6hypzUrxSrLm2IyrEkJZN
6hRwawz8OxTegccg3dWpx2N9klXN11y3VbtZCHK2FYsO/lpCD4LAmsRtVQ2Ud0PsnUf21psn3zvf
JKPT+49cippB/D97zdkd23Ys3rurP79+65uOXB5XleTVS9uv2F5rqNHRgcmZSm0aH8OHN8/NHtw/
NWtJpXxt28RcWUnG1cGVGPAC+pq9mpWsjYbkW8u3BhbaTUNdQbUsZocZt5ZlxbIU8lsr3sJ58iXs
Y6SVh7Q8aQW2qLj7SMsop0i7na70i7On9DTZvXWqp586UaawNNSHXpE82JhORQ2MOH3ZXI5kUyOT
+8hggBjfmR1quCqk0nO5IhpT2PhddttsbaVG9gtmUwRDfTfNiApt3MOcEOAtBRHmOElNqP4P/J9w
rqJKHExYTFRxOSW5PEK+iQ3YfPE3YawB9hLEN8pHgs0EO0wuFCgUEf6ZsFebbi0Bs4n1MC96jlEV
xWX+7rcimob/3AOMoyoa8yXOcQUoOrbD6KrD4jPLW8iXLbCW58gXFI3gUxdfRjZvYzJH69K4hg8x
Gyj6IZIqAWp7NrRCG9hhvsLYDXIhGf3lN3hPjuvf83+GQV6QDQH0n0mmzCaiL/8/i1kfdf3PwDaZ
F7QO/z7/HC0bqXDef6fORhNwAS6Pt+pXD+F4TrgbKVH49tqBA0VI7sPX/JdejejJuA4OtYQ8Zicb
eE72D8H9cR37HvefDOxkDP5O9oLcNMLk0N7ja+JYu0YTlmg8d4l8LtDeO8lmRRTs5WeDHv5l+fOy
IAaR7XndNGjg6IwagZ29eghSzNM03ngrNbz2SZseLj1CQ+oHLtDd1ocVyggfwFhpMRct7FFUlD88
hY3/oebMuVUUaShpuFuwxLjof4RFGiUs2ERMsLtlmeU7/sMcmmFkpQQvZCIhJVl6JBhYeZhO4sIH
cEIP4BU7iq10LhdZOpdwDg24hTgoJ7wM9NoBlP8zFAoYfo6VovLffklPJvTv8bYh/kCH25gonPDv
TepqB9yl6/6ZxGo97CeRSVqXz7+moPD48oWgiHCdbhiTq7WDMbIB4sx6+rzd3uGgav+VoKu8RMTP
ODHHIjtQE570tGM5Toi78AkSRT/fGFTJ2mDrpeF1yfCarLvRDMoIKCeGf03yjBlHjIf7u4eKQ5Oj
JVFkkbuJYm5woDvdHR9vzBXHE/F8vmlqyeHhvqiS+LiaNZy0FzfscvOAkhX64dNDCaczJuJrEoMW
4+pW16ygm06yWOxr9vWzrOcWZxU9AX+q+PdwmpBMFjoTHU6HgQnKraMrsQReZbKRntetSVhBr2A3
eE3lIAwedOsRiUC9MRMUHVYruvDP3dOFUr1/YhDRKari8GoU1HUbK8NbBwcO5SdzpXpDUBWGEMIw
PB9NqJnuQrYzNdDhwkOTHYbXNYh0AY4q0aiybCZ0xQEh7+Z2b710/nvrO800KwoYQsmLwAmCGVeS
UUu1B0u1rS2+/WPUz2C7qvuamkY7/lVjdCd8CAaZ9hbJDZuuW9jtyVps27pD482OrqHe2vBATOII
8VROkCUxlR+Jzw9NFbsWFvKa6ymZqfF9o82ppBvlOWQpiic7HMPKspDKbJ/deLYdo+NMFeU6gxbZ
4oWDsHY/ulltTjOhfVQaRSp0TIgpd1lJj/APs3sS110DZGbD9pOXLG3adCohAMeZsZRW7DBc/UB3
TYwDorEh7rx2ZvueyabusJycJK9SCfpfAYEMHNx++sT2RSQenKCKbtc6vHNtPsYKKMebl3ZOb8uL
FsPBd/Ite3iZGJhfVFu11aC8RXN0NI5mPbOmWL5SP4IMNehwxv+jrwH7b5YETotdu71/uqNE4I2y
KMSdwtAGWuGZa1TSMO4/oqQqh/WRTMFiXXeKcyRPGSfducZuVhTlsal6dy8IBzafPrG+DFKjMCel
uuZj1M9T+HMHcr4Baq2hAjtJ6yuNFmJXwyxrCla0jge4bnConi2b0nqaU643XfMeenKPJtnJ7nxJ
cRiBmdZjiXpHHB4zXNM/RG/DA6ZrPAYdCVPTdUZRkmHNxn+cXIMy2hO5KnIe50FRM/CIXCG3ymFW
tgxcTwgL6G0falPs9qY73Yist7chQjCCylqmtrI937D57Gr2HHPINawjZ0d7ulFqqMzG7I7R0dG0
CTKJy1aMJ5mC7XnpdTPbT27NxF23Y/3kUk+vq2Fq3c1ohAjOYnPUihvry4rkf2XvOtfSdW+kOrdv
ukuKRjv6q+8vXddbLBbHx0pFeE4RWJ2aOxTr1YUd1bgEIhO3Up3dCGOOm8vtyFVSnSNuT3YpO9Sd
EkVNFlTT6GYkBql8rbLYlycWG/NzpWjS82LJrBfv9Sw3kXQKThzkQiFfr/cUi/laNcRzEb7PVCin
QvkOQSjY6OtyztUipNtJWo31GnxZiLIsjIwOD03lVcONRtF/kn3dmVyukFElO+pG4QnZYtliojuv
whsDqFEDfVcxqe6I2kk12pkXiP8UvYV0faSNlZFT5BWMlxh0rNVp1IqVlZIqOvMB1zBco0PjRZHX
sFdiGYrfE3T/jPJlUVTxjqGoRtBn1X8cpfP7SAazsRWc6CStjJ73nDX1wEKdBDGNjgIRHMPVkums
ahBDJjBR7o8hMQvG5uEl1TBU3wDQ98wOdCZZS1GiwA4MXja8kRUY8pgZLFdt78Evw/9hhgKeB82w
0M+t4H/4OVA7vYef+y/9WCYYdGT/h9gLykc1ZyDBo1GJ0AfSI7wniYzwC3g5ECtHf79e8X9Dv3po
7YWfwrGUIPOstFPmihEKjc6K/F6NRtVWfp1EP5ukkmm0QlM7RNXXGkLLCmLu6xuCSyYJQwPrpsdL
OTVRnls3WugJRxup9Y8MJjsBzaO3PjQ4lEijraRgz0J/MZvoybrFbKynSWfkDwXa2zLVlYx3YBz3
/ya43j6eTsZTDf+TeNXe+34O55sNNPmfzHNlVvBcc3jTxvH2ZIbr/dd25vAkBXsXBvI49GgA4IPh
0JPdyWRHzX84GArtxsWfJDEjUVrpWLOHGUAOtxL1Qpg4sXDF8cVdS4tXHF/YCXfO7ViYnp2bXtyx
bnZhYfvi2auWdgBZ2Hn2THlmenbP/nXr1s3u2xXYu/81ksX15CPTa7hBfa1hYIIZhAhmhm6+RIHu
F9DadJOSAq9NCZ6dPiBZtUq9HA3NLjo/D8cO6B1RFWDgIM9jGr2wZX4Tz2meumFeF2ZrNXhsvQrx
ZO8cfeHivwR+uKF3q5KwogAbth/6piBE48rYCERocq+MA4hNTO1W8DmO86axdy6oPddyq99DIMTG
vGIIxquVPiH8DK4YYE39NYwBqkW46PBkarfj7dux2BsUoQuzew8fR9s3jMKp/TM1zQIOALrnpjfE
1Y0DssH6N+G1Hye9jLz38JXzM3QTkCGxTHPeD8qaDKeYl/rP7yrLDuGR0Yw0dm3ZJJFuQWP8J2Dl
W4pjuI7MSqx7newbawPc4cLAUDldMBVaoFTMRCqWTqQSSdnjdXgl2RErTweVszK9DfW+bs+0LJ5r
f4eD2SM8jGNdjrZbKOYKqyFnCqorouiCalCeDybj0AjXStedaqsWJDi5WPCRCXIdZAx9UFj94KaO
dlJvwO0Dl7M7cxrHijSaeN2dPX09MYbFKOGqfNfI5uGe4RSClC7p5aGN3ELeIQILkCxnj5UYhw22
U2Wb5TNz65uD41mG8AJLfl0w9JSsiIpu8fSBTlVReRqr1GRa8HQnD7zMJztdu9tLKKB0GSlLow9m
TV0N6lSsJKeFmOkOAceqpqcOt+R/nhmJDKNMWnsUU6sJVxsgV6qwK1vOlDDB9u5YQjZ57h1U6u8w
FVXfQ4skezQ5kS7miorMKmjhstQdRZSuG6psQadiImg/b8mq4X8TejIJL2awDt2kD+u+zwU2HYnQ
UXVoEYNWyGjLONYCVfiWa8ijuf7RencWENZgFWwIRbTPG81YMtFRh70BwD0cQk6AdvBtZfV7G57I
dHc6Q5P/Ik3GaZJku5Cy+W8rCU999LMaSvRbggH/O64qCf8Y3JNQ1LhfNlbsiqkSnaIUBQpM79Ca
VusIaEjt/N79CbH4R+8XbJt/kJEUxWHvvE+0bP5ztzCOkhA/xBlwt3/SAgu+rToMJyv+Ofigafin
4S5FYcSkX7LC2gF8mwhh7SAaMNeu1a92QyENAQ1k/+BYf3GX4caif/6QwEiCpAsfu1PSRNHR//un
METyUeefvhXTDfeZH4muwMv/+E2Fi7o/eFYM98ebiI1zKJveVo0iEIvjtTaG13xR2+Z30CC1hPro
Q2oioTxGToCgCCaSrJghuXzUy3VlEpkYJp4MTKlEVpMoyLuTihb3xwn5KSimYHKSKnCyazimk6b8
hpCvJVb0BD7aRuKP1Bpi7WLDInww4AQPwH5Z5Gz/Q0HJruo/pAoy4oUOn9KNqKEqpr9XjxotXnAQ
jjLfiuyORLiVoiolWGFpFX0hAIgJEpbvMHFpgawZFo9bO+heUGl1RtygPkE/Sw0oBsyhf4r5mKor
cd3p1jFVTFpJmSgW5o0aCxJTKaYNi8G5uQadrGN5EvV+yxtJFEwtSoh1NYDBWU4aJonXn4wmSp7F
wljWjAsi0TXFBojFkplB/xtmp6nIlqJastnJRjH5BP/JgUwpqhAbwxFdq/9i5DTz3eD7u1a+Tudf
MdVkUjV/q0Y72E92GloglyrK5RjKBYOkF265rFT8GvXpVi0g/DAsqHGa7XyJfn1CiwUTLXpvtr+u
6Wzt4eAL2V2hAMxCYsSzABcseZZD14/JnqIxlpEuVlgR2EAACpFRaDqiS7ejxxVdjeVFIFcDBlqb
KNFSZgDGMA9nomynKVuqYskKigKag5lkLAZgK5pOMDkzs/6TrOWVEtFkv0f8J9KOhe4W+q9P3gOf
ouzUrgT2XAtXWGlnM4Ert2y+pX/e3UQYFjxMAiXVtoc73r270TuQ4kVFSfBGV7K47cZCob+70GFz
KkRQSURzZbQ9Zdx1K0oC+1DSll4zYl5fllfjkf8PEupLrAAAeNrtlM9qE1EUxr9JJs2kf0LShdBF
4foHTKFMpi2lJVmVlriqhhbcSRkmt5nYJBNmpgnBtaJv4VMoPoDgwp24ceHGhU8g7tRvJkdblRQs
4spckvube7/znXPvGQLghvEMBiafXTwWNmDhvXAGeXwWzqJsXBc2YRm3hHO4aTwVnuH6O+E8NjN3
hC0sZV4IF7CUzQvPYjl7T3iO/Fx4HstmWXiBfCJcJL8ULsEyPwmXkc8VhRdh5Sqs1jALfHqUVp6w
wYjXwhk6fRTO4hq+CpsoGZvCOdw2msIzXH8lnMd944OwhfXMQ+EC+Y3wLGrZq8Jz5AfC8+S3wguo
mVXhIvmJcAkl87t/GUXzi/AiSrkr7FOAAcYI0UEbPmIoVOBhhfMeXPQ570NToalJ9hpUetR1GNmn
ossozbnFmFUq1uFwbMEm73C3y/nMPUqfNOfEb8jfFpXYDQbjsNP2Y1XxVtSe21f7eqxDVWl0vLgT
9N2ur93Wyqpad5wtW+10uyqVRyrUkQ6HukWTBjMc4ZDncVmh5oJ/dDhwPdIBH9s4ZTEu0+JAt0+7
LmGNyZ101NPw+u8ma7bjOPWGXz9zuyDR3fRckdyO+ilBkyEq5fOrPpUxbRL98EeEjQ1s006HEY+v
JkU0D5XjTNAPYi/oD5MNe2P7wpJ+3VIsLmmDy2/MYpPWafTSmznhWoDjSzXfPkuqOpFyVRy6Ld1z
wxMVHE/vKcP+PBem2v1tt+SljXl3NVQ5RumweUPT3Oy0lT1q4cfxoFatjkYj+/i8q+0Fvep/53/l
fIm/hekh3wDuK0V3AHjabc1XN4IBAIDhp8+MSGRHGaHM7D0qe5adleM3+n10XHvOea9fgT8/3xb9
56tWSKBOvQaNmjQLa9Eqok27qA4xnbrEdevRq0+/AYMShgxLShkxasy4tAmTpmRkTZsxa868Bbna
e8myFavWrNuwacu2Hbv27DuQV1B06MixE6fOnLtw6cq1GyVlt+7ce/DoybOKF6/evPtQ9RkKgkL5
FxN+FXcAAAAAAf//AAJ42mNgZGBg4ANiCQYQYGJgBMIkIGYB8xgACIAAlQAAAHjaY2BgYGQAgmOp
20+B6KMruf1gNABKkgY8AAA=) format('woff'), url('Fh_Space.ttf')  format('truetype'), url('../fonts/Fh_Space.svg#Fh_Space') format('svg');
  font-weight: normal;
  font-style: normal;
}
.HiHey{
    color: #ecf0f1;
    font-size: 70px;
    font-family: Fh_Space;
    text-shadow: 2px 2px 2px black;
}
.MesInfos{
    font-family: inherit;
    margin-top: 10%
}
.slide{
  text-align: center;
}
.MesInfos p{
    font-size: 20px;
}
.InfoBackground{
    color: #ecf0f1;
    font-family: monospace;
    margin-top: 30%;
}
.imgCarrousel{
    max-height: 430px;
    margin: auto;
}
.titre_section{
  text-align: center;
}
.titre_section h2{
  font-size: 50px;
}
.detail_competence{
  text-align: center;
}
.carousel-caption {
    text-shadow: 1px 1px 6px rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.19);
}
.carousel-control{
    text-shadow: 0 2px 2px rgb(0, 0, 0);
}
.carousel-control:hover{
    text-shadow: 0 4px 4px rgb(0, 0, 0);
}
.carousel-control.left {
    background-image: none;
    background-repeat: repeat-x;
}
.carousel-control.right {
    background-image: none;
    background-repeat: repeat-x;
}
#imgscrolldown{
    bottom: 10px;
    z-index: 10;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
}

